@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/* global */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn{
    padding: 10px 26px 10px 25px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background: #FFFFFF;
    border: 2px solid #66C05D;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: #FFFFFF;
        background: #66C05D;
    }
}

/* header */

.nav__top{
    padding: 15px 0 16px 42px;
    text-align: center;
    background: #E5E5E5;
    a{
        padding-right: 27px;
        font-size: 14px;
        line-height: 16px;
        color: #333333;
    }
    @media (max-width:576px){
        .nav__item{
            &:nth-child(2n) {
                display: inline-block;
                margin-bottom: 20px;
            }
        }
    }
}

.nav__item:hover{
    color: #66C05D;
    transition: color 0.3s ease-in-out;
}

.header__info{
    padding-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
}

.header__contact{
    padding-top: 21px;
    padding-left: 23px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width:992px){
        justify-content: space-around;
    }
    @media (max-width:768px){
        flex-direction: column;
        a{
            margin-bottom: 30px;
        }
    }
}

.logo{
    p{
        padding-top: 21px;
        padding-left: 20px;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.1em;
        color: #66C05D;
    }
} 

.contacts{
    padding-right: 5px;
    padding-top: 2px;
    @media (max-width:576px){
        display: flex;
        flex-direction: column;
    }
}

.number{
    padding-right: 37px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    @media (max-width:576px){
        margin-bottom: 30px;
        padding-right: 0;
        text-align: center;
    }
}

.nav__bottom{
    padding: 30px 0 30px 52px;
    text-align: center;
    a{
        padding-right: 37px;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    @media (max-width:992px){
        .nav__item{
            &:last-child{
                display: inline-block;
                margin-top: 20px;
            }
        }
    }
    @media (max-width:576px){
        .nav__item{
            &:nth-child(2n){
                display: inline-block;
                margin-top: 20px;
            }
        }
    }
}

/* header end */

/* hero */

.hero{
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width:1530px){
        background-position: center;
    }
    @media (max-width:576px){
        background-image: none;
        background: #66C05D;
    }
}

.content{
    padding: 190px 0 193px 23px;
    @media (max-width:376px){
        padding: 100px 0 100px 23px;
    }
    h1{
        padding-bottom: 40px;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        @media (max-width:576px){
            text-align: center;
        }
        @media (max-width:376px){
            padding-bottom: 20px;
            font-size: 35px;
        }
    }
    p{
        padding-bottom: 43px;
        max-width: 308px;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        @media (max-width:576px){
            margin: 0 auto;
            padding-left: 24px;
            text-align: center;
        }
        @media (max-width:376px){
            padding-left: 20px;
            max-width: 260px;
        }
    }
}

.btn-hero{
    padding: 12px 43px 9px 44px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    transition: all 0.3s ease-in-out;
    @media (max-width:576px){
        margin: 0 auto;
        display: block;
    }
    &:hover{
        color: #66C05D;
        background: #FFFFFF;
    }
}

/* hero end*/

/* info */

.info{
    padding: 80px 0 31px 46px;
    background: #EFEFEF;
}

.block{
    position: relative;
    h2{
        padding-bottom: 38px;
        @media (max-width:768px){
            text-align: center;
        }
    }
}

.car{
    position: absolute;
    top: -13px;
    right: 74px;
    @media (max-width:768px){
        display: none;
    }
}

.box-container{
    padding-bottom: 100px;
    max-width: 1110px;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width:1200px){
        justify-content: space-around;
    }
    @media (max-width:768px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
}

.box{
    max-width: 255px;
    padding: 25px 30px;
    background: #FFFFFF;
    @media (max-width:1200px){
        margin-bottom: 30px;
    }
}

.center{
    text-align: center;
}

.box-content{
    padding-top: 15px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.box-price{
    padding-top: 13px;
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.btn-box{
    margin: 0 auto;
    display: block;
    padding: 12px 40px 9px 40px;
    border: #66C05D;
    &:hover{
        color: #FFFFFF;
        background: #97ee8f;
    }
}

.box-conection{
    padding: 35px 45px 35px 40px;
    width: 540px;
    background: #66C05D;
    @media (max-width:1200px){
        margin-bottom: 30px;
        padding: 35px 45px 35px 40px;
        width: 487px;
    }
    @media (max-width:576px){
        width: 295px;
    }
    @media (max-width:376px){
        padding: 35px 20px 35px 20px;
        width: 255px;
    }
}

.box-email{
    position: relative;
    h3{
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        @media (max-width:576px){
            text-align: center;
        }
    }
    p{
        padding-bottom: 25px;
        max-width: 231px;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        @media (max-width:576px){
            text-align: center;
        }
    }
    img{
        position: absolute;
        top: 15px;
        right: 0;
        @media (max-width:576px){
            display: none;
        }
    }
}

input{
    &::placeholder {
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4;
    }
    &[placeholder]{
        padding: 9px 40px 9px 25px;
        font-size: 14px;
        line-height: 16px;
        background: #FFFFFF;
        border: none;
        border-radius: 30px;
    }
    &:focus{
        outline: none;
    }
}

#map-content{
    max-width: 141px;
    @media (max-width:576px){
        max-width: none;
    }
}

.btn-map{
    padding: 9px 27px 7px 28px;
    letter-spacing: 0;
}

/* info end*/

/* comments */

.comments__block{
    padding-bottom: 30px;
    border-bottom: 1px solid #66C05D;
}

.text-center{
    padding-top: 15px;
    text-align: center;
}

.box-form{
    display: flex;
    justify-content: center
}

.form-group{
    position: relative;
    #error{
        position: absolute;
        top: 0;
        left: 25%;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        color: #ff0000;
    }
    input[placeholder]{
        border: 2px solid #66C05D;
    }
}

label{
    display: block;
    padding-left: 15px;
    padding-bottom: 3px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.form-control{
    margin-bottom: 15px;
    width: 300px;
    border: 2px solid #66C05D;
    border-radius: 20px;
}

input[type="date"] {
	color:#FFF;
	&:before {
		color: #C4C4C4;
		content: attr(placeholder);
	}
	&:focus, &:valid {
		color: #000000;
		&:before {
			content: "" !important;
		}
	}
}

textarea{
    resize: none;
    padding: 12px 25px 12px 25px;
    height: 120px;
    outline: none;
    &::placeholder {
        font-size: 15px;
        line-height: 16px;
        color: #C4C4C4;
    }
}

#comment-field{
    padding-left: 25px;
}

.box-comment{
    padding-top: 30px;
}

.title-comment{
    display: flex;
    padding-bottom: 5px;
    .alert{
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        padding-right: 10px;
    }
    .text-right{
        font-size: 12px;
        line-height: 20px;
        color: #C4C4C4;
    }
}

.alert-success{
    padding-bottom: 5px;
}

.alert-danger{
    margin-right: 20px;
    img{
        width: 20px;
        height: 18px;
    }
}

.box-button{
    display: flex;
    align-items: center;
}

.btn-heart{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.heart{
    color: grey;
}


/* comments end*/

/* footer */

.footer__container{
    padding: 36px 0 36px 23px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width:992px){
        flex-direction: column;
    }
}

.footer{
    .share{
        a {
            display: inline-flex;
            width: 45px;
            height: 45px;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border: 2px solid #66C05D;
            border-radius: 50%;
            transition: background 0.3s ease-in-out;
            &:hover{
                background: #66C05D;
                svg{
                    fill: #FFFFFF;
                }
            }
            svg{
                fill: #66C05D;
                transition: fill 0.3s ease-in-out;
            }
            &:not(:last-child){
                margin-right: 15px;
            }
        }
        @media (max-width:992px){
            margin-bottom: 30px;
        }
    }
}

.address{
    padding-top: 5px;
    padding-left: 100px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    @media (max-width:992px){
        padding-left: 0;
        margin-bottom: 30px;
    }
}

.credit{
    background: #EFEFEF;
}

.credit__box{
    padding: 26px 6px 26px 23px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width:992px){
        flex-direction: column;
    }
}

.credit__content{
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    @media (max-width:992px){
        text-align: center;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
}

/* footer end*/