@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  color: blueviolet;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: rgb(120, 230, 243);
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
  background-color: #fff8d3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  padding: 40px 0 20px 0;
  text-shadow: 1px 1px 2px grey;
}

.search {
  padding-bottom: 20px;
}
.search input::-moz-placeholder {
  color: #b1aeae;
}
.search input:-ms-input-placeholder {
  color: #b1aeae;
}
.search input::placeholder {
  color: #b1aeae;
}
.search .search-input {
  padding: 8px;
  width: 300px;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(20, 20, 20, 0.2);
}
.search .search-button {
  padding: 8px;
  background-color: #31b231;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 5px 0 rgba(20, 20, 20, 0.2);
}
.search .search-button:hover {
  background-color: #2b6b2b;
  color: #ffffff;
}
.search .search-button:active {
  background-color: #46fc46;
  color: #ffffff;
}

.profile {
  margin-bottom: 10px;
  display: flex;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  width: 500px;
  box-shadow: 5px 5px 5px 0 rgba(20, 20, 20, 0.2);
}
.profile .search-image {
  width: 50px;
  height: 50px;
  display: block;
}
.profile .content {
  width: 200px;
}
.profile .content .search-text {
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
}
.profile .content .text-name {
  padding-bottom: 5px;
  width: 410px;
}
.profile .content .text-repos {
  width: 410px;
}